.card-grid {
    width: min(100%, 1400px);
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    gap: 1rem;
    justify-content: center;
}
